<!--
//
// (c) GameJammers 2021
// http://www.jamming.games
//
-->

<div bind:this={element} id="screen">
{@html $display}
</div>

<script>
    import { onMount } from 'svelte';

    export let game;

    let element;
    let display = game.display;

    onMount(async ()=>{
        game.mount(element);
    });
</script>

<style>
#screen {
  background: #040a19;
  color: #d08159;
  margin-left: auto;
  padding: 0px;
  border: 1px solid #544e68;
  font-size: 18px;
  width: 100%;
}
</style>
