<!--
//
// (c) GameJammers 2021
// http://www.jamming.games
//
-->

<div id="app">
  <div class="container">
    <Screen game={game} />
  </div>
</div>

<script>
import Screen from '@components/Screen.svelte';
import Game from '@game/Game.js';

const game = new Game();
game.start();
</script>

<style>
.container {
    margin: auto;
    width: 720px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

#app {
  padding-top: 15px;
  margin: 0px;
}
</style>
