/*
// (c) GameJammers 2021
// http://www.jamming.games
*/

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
    --color-black: #040a19;
    --color-primary-light: #203c56;
    --color-primary-dark: #0d2b45;
    --color-secondary-light: #8d697a;
    --color-secondary-dark: #544e68;
    --color-highlight-light: #ffaa5e;
    --color-highlight-dark: #d08159;
    --color-bright-light: #ffecd6;
    --color-bright-dark: #ffd4a3;
}

html, body {
  font-family: 'VT323', monospace;
  color: var(--color-bright-dark);
  background: #000003;
  margin: 0px;
  height: 100%;
}

h1 {
  font-weight: normal;
}
